ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: hidden;
}
 
 
li a, .dropbtn {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
 
li a.active {
    background-color: #666;
    color: white;
}
 
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
 
.container {
    margin-top: 10px;
    padding: 1px;
    height: 100px;
}
 
.dropdown {
    position: inline-block;
    display: block;
}
 
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}
 
 .dropdown:hover .dropdown-content {
    display: block;
}